:root {
  --color-text: #1A1A1A;
  --color-interaction: #EE685F;
  --color-accent: #3D97B4;
  --color-white: #FFFFFF;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
}

.main-but {
  background-color: var(--color-interaction);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 32px;
  height: 29px;
}
.menu-icon span {
  width: 32px;
  height: 3px;
  background-color: var(--color-text);
  transition: 0.3s;
}
.menu-icon[data-open=true] {
  position: relative;
}
.menu-icon[data-open=true] span {
  width: 41.23px;
  position: absolute;
}
.menu-icon[data-open=true] span:first-of-type {
  transform: rotate(45deg);
}
.menu-icon[data-open=true] span:nth-of-type(2) {
  width: 0;
}
.menu-icon[data-open=true] span:last-of-type {
  transform: rotate(-45deg);
}

@-webkit-keyframes translate-link {
  to {
    transform: translateX(0) scale(100%);
    opacity: 1;
  }
}

@keyframes translate-link {
  to {
    transform: translateX(0) scale(100%);
    opacity: 1;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
header nav {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
header nav .logo {
  flex-basis: 100%;
}
header nav .logo h1 {
  font-weight: bold;
  font-size: 32px;
  color: var(--color-accent);
}
header nav .logo h1 span {
  color: var(--color-interaction);
}
header nav .menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  left: -100%;
  min-height: 540px;
  height: calc(100vh - 70px);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 40px;
  background-color: var(--color-white);
  z-index: 1000;
}
header nav .menu > section > ul li {
  opacity: 0;
}
header nav .menu .nav {
  width: 100%;
}
header nav .menu .nav ul {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
}
header nav .menu .nav ul li {
  transform: translateX(-100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header nav .menu .nav ul li a {
  font-size: 16px;
  color: var(--color-text);
  font-weight: 500;
}
header nav .menu .config {
  width: 100%;
}
header nav .menu .config ul {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
header nav .menu .config ul li:nth-of-type(1) {
  transform: translateX(84px);
}
header nav .menu .config ul li:nth-of-type(2) {
  transform: translateX(184px);
}
header nav .menu .config ul li a {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-interaction);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
header nav .menu .social {
  flex-basis: 100%;
  display: flex;
  width: 224px;
  align-items: flex-end;
}
header nav .menu .social ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
header nav .menu .social ul li:nth-of-type(1) {
  transform: translateX(224px);
}
header nav .menu .social ul li:nth-of-type(2) {
  transform: translateX(208px);
}
header nav .menu .social ul li:nth-of-type(3) {
  transform: translateX(192px);
}
header nav .menu .social ul li:nth-of-type(4) {
  transform: translateX(176px);
}
header nav .menu .social ul li:nth-of-type(5) {
  transform: translateX(160px);
}
header nav .menu .social ul li img {
  width: 32px;
}
header nav .menu[data-show=true] {
  display: flex;
  left: 0;
}

main .banner {
  background-image: url(../images/Banner.png);
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 32px;
}
main .banner h1 {
  max-width: 185px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text);
}
main .banner p {
  margin-top: 16px;
  font-size: 16px;
  color: var(--color-text);
  font-weight: 500;
  max-width: 244px;
}
main .banner .flater-box {
  padding: 15px 20px;
  flex-basis: 100%;
  height: 80px;
}
main .banner .flater-box h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-accent);
}
main .banner .flater-box h4,
main .banner .flater-box div.controle {
  font-weight: 500;
  margin-top: 5px;
}
main .banner .flater-box h4 {
  cursor: pointer;
}
main .banner .flater-box h4:hover {
  color: var(--color-interaction);
}
main .banner .flater-box div.controle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .banner .flater-box div.controle .minus,
main .banner .flater-box div.controle .plus {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-interaction);
  cursor: pointer;
}
main .banner .flater-box div.controle .people-count {
  color: var(--color-text);
  font-size: 16px;
  text-align: center;
}
main .banner .search {
  margin-top: 24px;
  background-color: var(--color-white);
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
main .banner .search .settimg-config-icon {
  background-color: var(--color-interaction);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
main .banner .search .settimg-config-icon:hover {
  background-color: var(--color-accent);
}
main .banner .search .settimg-config-icon img {
  width: 40px;
  height: 40px;
}
main .banner .menu-settimg-config {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% -50%;
  min-height: 540px;
  height: calc(100vh - 70px);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--color-white);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 50%;
  transform: scale(0);
}
main .banner .menu-settimg-config > *:not(.icon-close) {
  opacity: 0;
}
main .banner .menu-settimg-config .icon-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
main .banner .menu-settimg-config .flater-box {
  border: 1px solid var(--color-interaction);
  border-radius: 15px;
}
main .banner .menu-settimg-config .location {
  transform: translateX(calc(100% + 16px));
}
main .banner .menu-settimg-config .dates {
  transform: translateX(calc(-100% - 16px));
}
main .banner .menu-settimg-config div.people-count,
main .banner .menu-settimg-config div.rooms-count {
  flex-basis: calc(50% - 8px);
}
main .banner .menu-settimg-config div.people-count {
  transform: translateX(calc(200% + 16px));
}
main .banner .menu-settimg-config div.rooms-count {
  transform: translateX(calc(100% + 16px));
}
main .banner .menu-settimg-config .dates h4 {
  display: flex;
  justify-content: space-between;
}
main .banner .menu-settimg-config .find-tour {
  width: 100%;
  margin-top: 8px;
  height: 50px;
  padding: 0;
  transform: translateX(calc(100% + 16px));
}
main .banner .menu-settimg-config[data-show=true] {
  left: 0;
  top: 70px;
  margin: 0;
  border-radius: 0;
  transform: scale(100%);
}/*# sourceMappingURL=main.css.map */