:root {
  --color-text: #1A1A1A;
  --color-interaction: #EE685F;
  --color-accent: #3D97B4;
  --color-white: #FFFFFF;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes translate-link {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
header nav {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
header nav .menu-icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 32px;
  height: 29px;
}
header nav .menu-icon span {
  width: 32px;
  height: 3px;
  background-color: var(--color-text);
  transition: 0.3s;
}
header nav .menu-icon[data-open=true] {
  position: relative;
}
header nav .menu-icon[data-open=true] span {
  width: 41.23px;
  position: absolute;
}
header nav .menu-icon[data-open=true] span:first-of-type {
  transform: rotate(45deg);
}
header nav .menu-icon[data-open=true] span:nth-of-type(2) {
  width: 0;
}
header nav .menu-icon[data-open=true] span:last-of-type {
  transform: rotate(-45deg);
}
header nav .logo {
  flex-basis: 100%;
}
header nav .logo h1 {
  font-weight: bold;
  font-size: 32px;
  color: var(--color-accent);
}
header nav .logo h1 span {
  color: var(--color-interaction);
}
header nav .menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  left: -100%;
  height: calc(100vh - 70px);
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 40px;
}
header nav .menu > section > ul li {
  opacity: 0;
}
header nav .menu .nav {
  width: 100%;
}
header nav .menu .nav ul {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
}
header nav .menu .nav ul li {
  transform: translateX(-100%);
  width: fit-content;
}
header nav .menu .nav ul li a {
  font-size: 16px;
  color: var(--color-text);
  font-weight: 500;
}
header nav .menu .config {
  width: 100%;
}
header nav .menu .config ul {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 32px;
}
header nav .menu .config ul li:nth-of-type(1) {
  transform: translateX(84px);
}
header nav .menu .config ul li:nth-of-type(2) {
  transform: translateX(184px);
}
header nav .menu .config ul li a {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-interaction);
  text-decoration: underline dotted;
}
header nav .menu .social {
  flex-basis: 100%;
  display: flex;
  width: 224px;
  align-items: flex-end;
}
header nav .menu .social ul {
  display: flex;
  column-gap: 16px;
}
header nav .menu .social ul li:nth-of-type(1) {
  transform: translateX(224px);
}
header nav .menu .social ul li:nth-of-type(2) {
  transform: translateX(208px);
}
header nav .menu .social ul li:nth-of-type(3) {
  transform: translateX(192px);
}
header nav .menu .social ul li:nth-of-type(4) {
  transform: translateX(176px);
}
header nav .menu .social ul li:nth-of-type(5) {
  transform: translateX(160px);
}
header nav .menu .social ul li img {
  width: 32px;
}
header nav .menu[data-show=true] {
  display: flex;
  left: 0;
}

/*# sourceMappingURL=main.css.map */
