:root {
    --color-text: #1A1A1A;
    --color-interaction: #EE685F;
    --color-accent: #C0DAE3;
    --color-white: #FFFFFF;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
}

.main-but {
    background-color: var(--color-interaction);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    min-width: 32px;
    height: calc(9px + 20px);

    span {
        width: 32px;
        height: 3px;
        background-color: var(--color-text);
        transition: .3s;
    }

    &[data-open=true] {
        position: relative;

        span {
            width: 41.23px;
            position: absolute;
        }

        span:first-of-type {
            transform: rotate(45deg);
        }

        span:nth-of-type(2) {
            width: 0;
        }

        span:last-of-type {
            transform: rotate(-45deg);
        }
    }
}

@keyframes translate-link {
    to {
        transform: translateX(0) scale(100%);
        opacity: 1;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

header.header-for-page {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    nav {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;


        .logo {
            flex-basis: 100%;

            h1 {
                font-weight: bold;
                font-size: 32px;
                color: var(--color-accent);

                span {
                    color: var(--color-interaction);
                }
            }
        }

        .menu {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            position: absolute;
            top: 70px;
            left: -100%;
            min-height: 540px;
            height: calc(100vh - 70px);
            width: 100%;
            padding-top: 32px;
            padding-bottom: 32px;
            row-gap: 40px;
            background-color: var(--color-white);
            z-index: 1000;

            &>section>ul li {
                opacity: 0;
            }

            .nav {
                width: 100%;

                ul {
                    display: flex;
                    flex-flow: column nowrap;
                    row-gap: 32px;

                    li {
                        transform: translateX(-100%);
                        width: fit-content;

                        a {
                            font-size: 16px;
                            color: var(--color-text);
                            font-weight: 500;
                        }
                    }

                }
            }

            .config {
                width: 100%;

                ul {
                    display: flex;
                    flex-flow: row nowrap;
                    column-gap: 32px;

                    li {
                        @for $i from 1 through 2 {
                            &:nth-of-type(#{$i}) {
                                transform: translateX(#{(100 * $i) - 16px});
                            }
                        }

                        a {
                            font-size: 18px;
                            font-weight: 600;
                            color: var(--color-interaction);
                            text-decoration: underline dotted;
                        }
                    }
                }
            }

            .social {
                flex-basis: 100%;
                display: flex;
                width: calc((32px * 5) + (16px * 4));
                align-items: flex-end;

                ul {
                    display: flex;
                    column-gap: 16px;

                    li {
                        @for $i from 1 through 5 {
                            &:nth-of-type(#{$i}) {
                                transform: translateX(#{32px * 7 - 32 * ($i - 1) + ($i - 1) * 16});
                            }
                        }

                        img {
                            width: 32px;
                        }
                    }

                }
            }

            &[data-show=true] {
                display: flex;
                left: 0;
            }
        }
    }


}

main {
    .banner {
        background-image: url(../images/Banner.png);
        background-repeat: no-repeat;
        background-position: 60% center;
        background-size: cover;
        padding-top: 32px;
        padding-bottom: 32px;

        header {
            h1 {
                max-width: 185px;
                font-size: 24px;
                font-weight: bold;
                color: var(--color-text);
            }

            p {
                margin-top: 16px;
                font-size: 16px;
                color: var(--color-text);
                font-weight: 500;
                max-width: 244px;
            }
        }

        main {
            .flater-box {
                padding: 15px 20px;
                flex-basis: 100%;
                height: 80px;

                h6 {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--color-accent);
                }

                h4,
                div.controle {
                    font-weight: 500;
                    margin-top: 5px;
                }

                h4 {
                    cursor: pointer;

                    &:hover {
                        color: var(--color-interaction);
                    }
                }

                div.controle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .minus,
                    .plus {
                        font-size: 18px;
                        font-weight: bold;
                        color: var(--color-interaction);
                        cursor: pointer;
                    }

                    .people-count {
                        color: var(--color-text);
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }

            .search {
                margin-top: 24px;
                background-color: var(--color-white);
                display: flex;
                border-radius: 15px;
                overflow: hidden;

                .settimg-config-icon {
                    background-color: var(--color-interaction);
                    padding: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .2s;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-accent);
                    }

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .menu-settimg-config {
                display: flex;
                flex-flow: row wrap;
                align-content: flex-start;
                gap: 16px;
                position: absolute;
                top: 70px;
                left: -100%;
                min-height: 540px;
                height: calc(100vh - 70px);
                width: 100%;
                padding-top: 32px;
                padding-bottom: 32px;
                background-color: var(--color-white);
                overflow: hidden;

                &[data-show=true] {
                    left: 0;
                }

                >*:not(.icon-close) {
                    opacity: 0;
                }

                .icon-close {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 16px;
                }

                .flater-box {
                    border: 1px solid var(--color-interaction);
                    border-radius: 15px;
                }

                .location {
                    transform: translateX(calc(100% + 16px));
                }

                .dates {
                    transform: translateX(calc(-100% - 16px));
                }

                div.people-count,
                div.rooms-count {
                    flex-basis: calc(50% - 8px);
                }

                div.people-count {
                    transform: translateX(calc(200% + 16px));
                }

                div.rooms-count {
                    transform: translateX(calc(100% + 16px));
                }

                .dates {
                    h4 {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .find-tour {
                    width: 100%;
                    margin-top: 8px;
                    height: 50px;
                    padding: 0;
                    transform: translateX(calc(100% + 16px));
                }

            }
        }
    }

    .why {
        padding-top: 46px;
        padding-bottom: 46px;
        margin-bottom: 46px;
        border-color: var(--color-white);

        h2,
        h3 {
            color: var(--color-text);
            font-weight: 600;
        }
        
        p {
            color: #333333;
            font-weight: 400;
        }

        header {
            text-align: center;
            margin-bottom: 48px;

            h2 {
                margin-bottom: 16px;
                font-size: 24px;
            }

            p {
                font-size: 20px;
            }
        }

        main {
            ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 32px;

                li {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    text-align: center;

                    .icon {
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        margin-bottom: 20px;
                        background-color: var(--color-accent);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    
}